*:focus {
	outline: none;
}
html {
	background-color: black;
}
body {
	min-height: 100vh;
	background-color: black;
	font-family: 'Georgia', Times New Roman, Times;
	color: white;
}
a,
a:hover,
a:focus {
	text-decoration: underline;
	color: white;
	position: relative;
	padding: 0 0 0.1rem 0;
}
a:before {
	content: "";
	position: absolute;
	width: 100%;
	height: 1px;
	bottom: 0;
	left: 0;
	background-color: #FFF;
	visibility: hidden;
	-webkit-transform: scaleX(0);
	transform: scaleX(0);
	-webkit-transition: all 0.3s ease-in-out 0s;
	transition: all 0.3s ease-in-out 0s;
}
a:hover:before,
a:focus:before {
	visibility: visible;
	-webkit-transform: scaleX(1);
	transform: scaleX(1);
}
.advice {
	margin: 3rem 0;
}
textarea {
	border: none;
	font-size: 1.5rem;
	background-color: black;
	color: white;
}
textarea:focus {
	outline: none;
}
footer {
	width: 100%;
	padding-top: 6rem;
	text-align: center;
	font-size: 0.8rem;
	font-weight: 600;
	color: #444040;
}
footer a {
	color: #444040;
}


@media (min-width: 768px) {
	.intro {
		margin-top: 3rem;
	}
}